<article>
    <img class="listing-photo" [src]="carListing?.photo">
    <section class="listing-description">
        <h2 class="listing-heading">{{ carListing?.brand }} {{ carListing?.model }}</h2>
    </section>
    <section class="listing-features">
        <h2 class="section-heading">About this vechicle</h2>
        <ul>
            <li>Year of production: {{ carListing?.year }};</li>
            <li>Horsepower: {{ carListing?.horsepower }}HP;</li>
            <li>Transmission: {{ carListing?.transmission }};</li>
            <li>Available to rent: {{ carListing?.isAvailable }}.</li>
        </ul>
    </section>
    <section class="listing-apply" *ngIf="carListing?.isAvailable === true">
        <h2 class="section-heading">Apply now to rent</h2>
        <form [formGroup]="applyForm" (submit)="submitApplication()">
            <label for="first-name">First Name</label>
            <input id="first-name" type="text" formControlName="firstName">

            <label for="last-name">Last Name</label>
            <input id="last-name" type="text" formControlName="lastName">

            <label for="email">Email</label>
            <input id="email" type="email" formControlName="email">
            <button type="submit" class="primary">Apply now</button>
        </form>
    </section>
</article>